/* Estilos generales */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

/* Estilos de encabezado */
header {
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.5s ease-in-out;
    
}

nav ul li a:hover {
    color: #c9c6c6;
    ;
}

/* Estilos de contenido */
section {
    padding: 50px 0;
    text-align: center;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #000000;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 24px;
    margin-top: 40px;
    color: #B9B4C7;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

hr {
    border: none;
    border-top: 2px solid #B9B4C7;
    margin: 40px auto;
    max-width: 60px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 5px;
}

.column img {
    margin-top: 5px;
    object-fit: cover;
}

.center-image {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.image {
    flex-basis: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Estilo para imágenes agrandadas */
.image img.enlarged {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    cursor: zoom-out;
}

.image .image-caption {
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    padding: 5px;
    margin: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 1s ease;
}

.image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.image:hover img {
    transform: scale(1.1);
}

.image:hover .image-caption {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos de pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    position: relative;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #ffffff;
}

/* Estilos para el mensaje de estado */
#form-status {
    margin-top: 10px;
    font-size: 14px;
    color: #f7f7f7;
}

/* Estilos para el formulario de contacto */
#contact-form {
    max-width: 400px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
    position: relative;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

#contact-form textarea {
    resize: vertical;
}

/* Estilos para el botón de envío */
#contact-form button[type="submit"] {
    background-color: #FFD700;
    color: #292f36;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:hover {
    background-color: #F39C12;
    color: white;
}

/* Estilos para el pie de página del formulario */
#contact-form footer {
    font-size: 12px;
    color: #7F7F7E;
    margin-top: 10px;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


/* Estilos para los artículos de noticias */
.news-article {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.news-article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.news-article h3 {
    font-size: 24px;
    color: #292f36;
    margin-bottom: 10px;
}

.news-article h4 {
    font-size: 18px;
    color: #7F7F7E;
    margin-bottom: 10px;
}

.news-article p {
    font-size: 16px;
    color: #292f36;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.news-article a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

.news-article a:hover {
    color: #F39C12;
}

.article-meta {
    font-size: 10px;
    color: #7F7F7E;
    margin-top: 5px;
    text-align: center;
}

/* Estilos para los artículos de los planetas */
.planet-article {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.planet-article .card-img-top {
    transition: transform 0.3s ease-in-out;
}

.planet-article .card-img-top:hover {
    transform: scale(1.1);
}

.planet-article h3 {
    font-size: 24px;
    color: #292f36;
    margin-bottom: 10px;
}

.planet-article p {
    font-size: 16px;
    color: #292f36;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.planet-article a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.planet-article a:hover {
    color: #F39C12;
}

.planet-article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Estilos para la cuadrícula de eventos */
.event-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    transition: grid-template-columns 0.5s ease-in-out;
}

/* Estilos para cada evento */
.event {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    z-index: -1;
    transition: transform 0.3s ease;
}

.event:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event:hover::before {
    transform: scale(1.05);
}

.event h3 {
    font-size: 24px;
    color: #292f36;
    margin-bottom: 10px;
}

.event p {
    font-size: 16px;
    color: #292f36;
    line-height: 1.6;
    margin-bottom: 10px;
}

.event a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.event a:hover {
    color: #F39C12;
}

#my-iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

/* Estilos para pantallas más pequeñas (responsividad global) */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    nav ul li {
        margin: 0 10px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
    }

    h3 {
        font-size: 20px;
        text-align: center;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    hr {
        margin: 30px auto;
    }

    footer {
        padding: 15px 0;
    }

    footer p {
        font-size: 14px;
    }

    .planet-article h3 {
        font-size: 22px;
    }

    .planet-article p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        ;
        
    }

    .image {
        flex: 0 0 calc(33.333% - 10px);
        position: relative;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .image p {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px;
        margin: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }

    .event h3 {
        font-size: 22px;
    }

    .event p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .event-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .event {
        max-width: 100%;
        margin: 0 auto;
    }

    #my-iframe {
        position:relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 0;
        padding-bottom: 56,25%;
    }

    #my-iframe iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; 
     }
    
    .article-meta p{
        text-align: center;

    }

}
    
